/* Basic elements */

body {
	margin: 0;
	background-color: #000;	
	color: #e4dac3;
	font-family: Roboto;
}

a,
a:visited {
	color: #3E75BB;
}

a.cta {
	display: inline-block;
	margin: 10px;
	color: #eee;
	background-color: #3E75BB;
	padding: 10px 30px;
	border: 0;
	text-transform: uppercase;
}

h2 {
	font-size: 1.25em;
}

select {
	background: #eee;
}

/* LAYOUT */

.wrapper,
footer {
	width: 850px;
	margin: 0 auto;
	background-color: #1B1703;
}	

.navigation-menu {
    display: flex;
    width: 100%;
    list-style: none;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding: 10px 0;
    margin: 0;
}

.navigation-menu li {
	flex-grow: 1;
	text-align: center;
	padding: 0 10px;
}

.navigation-menu .selected a,
.navigation-menu .selected a:visited {
	background-color: #e4dac3;
	color: #000;
}

.navigation-menu a,
.navigation-menu a:visited {
	display: inline-block;
	box-sizing: border-box;
	width: 100%;
	padding: 5px;
	color: #e4dac3;
	text-decoration: none;
	text-transform: uppercase;
}

.navigation-menu a:hover {
	text-decoration: underline;
}

.banner {
    display: block;
	width: 850px;
	height: 312px;
	background: url('../images/banner.jpg');
}

.main {
	min-height: 40vh;
    border-top: 2px solid #e4dac3;
	padding: 20px;
}

.main section {
	width: 80%;
}

footer {
    margin-top: 20px;
    border-top: 2px solid #e4dac3;
	text-align: center;
}

footer a {
	background-color: #e4dac3;
	display: inline-block;
    padding: 10px;
    margin: 0 20px 20px;
    text-decoration: none;
}

footer a,
footer a:visited {
	color: #000;	
}

.sponsor-list {
	display: flex;
	align-items: center;
    justify-content: space-around;	
    flex-wrap: wrap;
}

.sponsor {
	width: 220px;
	margin: 10px 0;
}

/* Convenience classes */
.fillContainer {
	max-width: 100%;
}


/* Mobile */
@media(max-width: 850px) {
	.wrapper,
	footer {
		width: 100%;
	}	

	.main section {
		width: 100%;
	}

	.navigation-menu {
		flex-wrap: wrap;
	}

	.banner {
		margin: 0 auto;
	    width: 412px;
	    height: 280px;
		background: url('../images/banner-m.jpg');
	}
	.wrapOnMobile {
		display: block;
	}
}

/* Registration */
.paypal-form {
	display: none;
}
.paypal-form.expanded {
	display: initial;
}